@font-face {
    font-family: 'Anton';
    src: url(./font/Anton-Regular.woff2);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BethEllen';
    src: url(./font/BethEllen-Regular.woff2);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SpaceMono';
    src: url(./font/SpaceMono-Regular.woff2);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

a {
    text-decoration: none;
    color: var(--color-black);
}

:root {
    --font-family-main: 'Anton', sans-serif;
    --font-family-signature: 'BethEllen', sans-serif;
    --font-family-typewriter: 'SpaceMono', sans-serif;

    --color-black: #1D1D1B;
    --color-white: #FFFFFF;
    --color-light-brown: #FDF1D9;
    --color-light-gray: #F8F8F8;

    --container-width: 1920px;
    --header-width: 1900px;
    --header-padding-x: 10px;

    --header-preliminary-information-height: 40px;
    --header-nav-back-section-height: 100px;
}

.bold-uppercase {
    font-family: var(--font-family-main);
    font-weight: 500;
    text-transform: uppercase;
}

.container {
    max-width: var(--container-width);
    width: 100%;
    margin-inline: auto;
    background-color: aqua;
}

.header, .main {
    display: flex;
    flex-direction: column;
    max-width: var(--container-width);
    width: 100%;
    min-height: 100vh;
    background-color: #ffffff;
}

.header-preliminary-information {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: var(--header-preliminary-information-height);
    color: var(--color-white);
    background-color: var(--color-black);
}

.header-preliminary-information-text {
    font-family: var(--font-family-typewriter);
    font-size: 14px;
    font-weight: 500; 
}

.header-nav-back-section {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 2fr 11fr 1fr 1fr;
    width: 100%;
    height: var(--header-nav-back-section-height);
    border-bottom: 1px solid var(--color-black);
}

.header-top-nav-left {
    margin-left: 30px;
}

.header-top-nav-left-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 45px;
}

.header-logo-page {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.header-logo-text {
    font-size: 32px;
}

.signature-coffe{
    position: absolute;
    left: 100%;
    bottom: 0px;
    font-family: var(--font-family-signature);
    font-weight: 500;
    text-transform: lowercase;
    rotate: -10deg;
    font-size: 20px;
}

.header-top-nav-left-item,
 .header-top-nav-right-item {
    font-family: var(--font-family-typewriter);
    font-weight: 500;
    font-size: 24px;
}

.top-nav-left-link,
.top-nav-right-link { 
    display: grid;
    justify-items: center;
}

.top-nav-left-link::after,
.top-nav-right-link::after{
    content: '';
    background: url(./icon/line.svg) center / cover no-repeat;
    width: 60px;
    height: 5px;
}

.header-top-nav-right-list{
    margin-right: 35px;
}

.header-top-nav-right-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.header-star {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100%;
    border-left: 1px solid var(--color-black);
}

.header-imgs {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - var(--header-preliminary-information-height) - var(--header-nav-back-section-height));
}

.header-img-1,
.header-img-2 {
    display: block;
    width: 100%;
    max-height: calc(100vh - var(--header-preliminary-information-height) - var(--header-nav-back-section-height));
    height: 100%;
    object-fit: cover;
}

.header-text-on-img {
    flex-direction: row;
    position: absolute;
    left: 50%;
    top: 370px;
}

.header-text {
    position: relative;
    left: 150px;
    font-size: 120px;
    line-height: 1.3;
}

.header-text::after {
    content: ' ';
    display: block;
    position: absolute;
    right: -10px;
    top: -100px;
    background: url(./icon/seal-sign.svg) center / cover no-repeat;
    width: 135px;
    aspect-ratio: 1;
    z-index: 0;
}

.signature-with-love {
    font-size: 50px;
    position: absolute;
    right: -100%;
    bottom: 0;
    font-family: var(--font-family-signature);
    font-weight: 500;
    text-transform: lowercase;
    transform: rotate(-10deg);
}

.main-section-promise {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main-keywords {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    background-color: var(--color-white);
    border-top: 1px solid var(--color-black);
    border-bottom: 1px solid var(--color-black);
}

.main-keywords-text{
    font-family: var(--font-family-typewriter);
    font-weight: 500;
    font-size: 16px;
}

.main-section-promice-article {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 580px;
    background-color: var(--color-light-brown);
    border-bottom: 1px solid var(--color-black);
}

.main-section-promice-article-title {
    font-size: 50px;
    line-height: 1.2;
    margin: 110px 25px 0 90px;
    position: relative;
}

.main-section-promice-article-title::after {
    content: '';
    display: block;
    position: absolute;
    top: 30%;
    right: 65px;
    background: url(./icon/ellipse-stroke.svg) center / cover no-repeat;
    width: 270px;
    height: 70px;
}

.main-section-promice-article-subtitle {
    font-family: var(--font-family-typewriter);
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 115px;
    margin: 25px 30px 0 90px;
}

.main-section-promice-article-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 120px;
    height: auto;
    margin: 115px 0 0 90px;
    border: none;
    font-size: 16px;
    background-color: transparent;
}

.main-section-promice-article-button::after {
    content: '';
    margin-left: 10px;
    background: url(./icon/drawn-arrow.svg) center / cover no-repeat;
    width: 30px;
    aspect-ratio: 1;
}

.main-section-promice-coffee {
    display: flex;
    width: 50%;
    background-color: var(--color-light-brown);
}

.main-section-promice-coffee-list {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.main-section-promice-coffee-item {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.main-section-promice-coffee-item-1 {
    border-left: 1px solid var(--color-black);
    border-right: 1px solid var(--color-black);
    border-bottom: 1px solid var(--color-black);
}

.main-section-promice-coffee-item-2 {
    border-right: 1px solid var(--color-black);
    border-bottom: 1px solid var(--color-black);
}

.main-section-promice-coffee-img {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: auto;
    margin-bottom: 30px;
}

.main-section-promice-coffee-title{
    font-size: 25px;
    margin: 0 0 0 45px;
}

.main-section-promice-coffee-subtitle {
    font-family: var(--font-family-typewriter);
    font-weight: 500;
    font-size: 18px;
    margin: 0 0 0 45px;
}

.section-branding-message {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(./img/branding-message.jpg) center / cover no-repeat;
    height: 750px;
}

.branding-message-text {
    font-size: 100px;
    color: var(--color-white);
}

.section-quote {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
    height: 880px;
    width: 100%;
    border: 1px solid var(--color-black);
}

.blockquote-text{
    display: grid;
    font-size: 35px;
    margin: 0 0 50px 0;
}

.blockquote-text::before {
    content: '';
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background: url(./icon/stars-quote.svg) center / cover ;
    width: 130px;
    height: 20px;
    margin-bottom: 30px;
}

.blockquote-author {
    font-family: var(--font-family-typewriter);
    font-weight: 500;
    font-size: 18px;
}

.blockquote-img {
    max-width: 960px;
    width: 100%;
    max-height: 880px;
    height: 100%;
}

.section-shop{
    display:  grid;
    grid-template-columns: 360px  calc(100vw - 3 * 120px);
    background: var(--color-light-gray);
    height: 980px;
    border-right: 1px solid var(--color-black);
    border-bottom: 1px solid var(--color-black);
}

.section-shop-locations {
    display:  grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    max-height: 980px;
    height: 100%;
    border: 1px solid var(--color-black);
    border-top: none;
    position: relative;
}

.section-shop-locations::before {
    content: '';
    position: absolute;
    width: 1px;
    max-height: 980px;
    left: 120px;
    height: 100%;
    background: var(--color-black);
} 

.section-shop-locations::after {
    content: '';
    position: absolute;
    width: 1px;
    max-height: 980px;
    left: 240px;
    height: 100%;
    background: var(--color-black);
} 


.location-title {
    font-size: 50px;
    writing-mode: tb-rl;
    transform: rotate(180deg);
    margin-bottom: 50px;
}

.section-shop-details-1 {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.section-shop-contact-info-1 {
    margin-left: 130px;
    margin-top: 145px;
}

.shop-addres-1 {
    display: flex;
    flex-direction: column;
}

.section-shop-contact-writing {
    font-family: var(--font-family-typewriter);
    font-size: 18px;
    font-weight: 500;
}

.section-shop-contact-name-1 {
    font-size: 25px;
    margin-bottom: 24px;
}

.section-shop-details-button-1 {
    margin-top: 45px;
    border: none;
    color: var(--color-white);
    background-color: var(--color-black);
    width: 155px;
    height: 60px;
    font-size: 18px;
    position: relative;
}

.section-shop-details-button-1::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    background: url(./icon/section-shop-button-decoration.svg) center / cover ;
    width: 155px;
    height: 60px;
    z-index: 10;
    
}

.section-shop-details-img-1 {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 150px;
    max-width: 795px;
    width: 100%;
    max-height: 795px;
    height: 100%;
}